/* NOTES:
- colors based on palette at: https://icolorpalette.com/545454_e9e9e9_dcdcdc_8c8c8c_5c5c5c
*/

html {
    background-color: #ffffff;
}

body {
    margin: 0px;
}

/* header */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 64px;

}

header .logo {
    height: 44px;
    width: auto;
    display: inline-block;
    padding: 10px 0px 0px 24px;
}

.company-name-header {
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    color: #353535;
}

header h1 {
    height: 32px;
    width: auto;
    color: #dcdcdc;
    font-size: 32px;
    font-weight: normal;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    color: darkgray;
    display: inline-block;
    margin: 0px;
}

nav {
    display: inline-block;
    height: 30px;
    width: auto;
    margin: 0px 24px 0px auto;
}

nav ul.desktop {
    margin: 6px 0px 0px 0px;
    text-align: center;
}

nav ul.desktop li {
    height: 30px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    margin: 0px 0px 0px 16px;
    vertical-align: middle;
    /* edit font */
}

nav ul.desktop li a {
    color: #5c5c5c;
    text-decoration: none;
}

nav a.mobile {
    display: none;
}

/* general */
p {
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    color: #5c5c5c;
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    width: 100%;
    color: #474747;
    font-size: 36px;
    margin: 0px;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    width: 100%;
    color: #474747;
    font-size: 24px;
    margin: 0px;
}

/* sections overall */
.section-container {
    width: 100%;
    height: auto;
    padding: 32px 0px 32px 0px;
    display: grid;
}

/* section 1 */
#section-1 {
    background-color: #dcdcdc;
    display: grid;
    grid-template: 1fr / 60% 4fr 1fr;
    column-gap: 24px;
}

#section-1 figure {
    grid-area: 1 / 1 / span 1 / span 1;
    margin: 0px 0px 0px 24px;
}

#section-1 figure img {
    width: 100%;
    height: auto;
}

#section-1-info {
    grid-area: 1 / 2 / span 1 / span 1;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#section-1-info h2 {
    width: 100%;
    color: #474747;
    font-size: 36px;
    margin: 0px;
}

#section-1-info p {
    width: 100%;
    color: #474747;
    font-size: 20px;
    margin: 20px 0px 20px 0px;
}

#section-1-info button {
    background-color: #474747;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    padding: 8px 0px 8px 0px;
    border: none;
}

#section-1-info button:hover {
    cursor: pointer;
}

/* section 2 */
#section-2 {
    background-color: #ffffff;
    grid-template: 1fr / 60% 1fr;
    column-gap: 24px;
}

#section-2-left {
    grid-area: 1 / 1 / span 1 / span 1;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: start;
    margin-left: 24px;
}

#section-2-left figure {
    margin: 0px;
}

#section-2-left figure img {
    width: 100%;
    height: auto;
}

#section-2-left h2 {
    padding-top: 32px;
    padding-bottom: 24px;
}

.quote-source {
    color: #474747;
    font-size: 14px;
    font-weight: lighter;
    padding-top: 24px;
}

#section-2-right {
    /* display: grid; */
    display: flex;
    flex-flow: column;
    grid-area: 1 / 2 / span 1 / span 1;
    /* grid-template: 1fr 1fr 1fr / 1fr; */
    width: 100%;
}

/* #s2-t1 {
    grid-area: 1 / 1 / span 1 / span 1;
}

#s2-t2 {
    grid-area: 2 / 1 / span 1 / span 1;
}

#s2-t3 {
    grid-area: 3 / 1 / span 1 / span 1;
} */

.tab-type-1 {
    display: grid;
    grid-template: 1fr / 35% 1fr;
    column-gap: 16px;
    padding: 16px;
}

.tab-type-1:hover {
    background-color: #dcdcdc;
}

#section-2-right .tab-type-1 figure.mobile {
    display: none;
}

.tab-type-1 figure {
    grid-area: 1 / 1 / span 1 / span 1;
    margin: 0px;
}

.tab-type-1 figure img {
    width: 100%;
    height: auto;
}

.tab-type-1-info {
    grid-area: 1/ 2/ span 1 / span 1;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.tab-type-1-info p {
    margin: 8px 0px 8px 0px;
}

.readmore {
    color: #2370d6;
    max-width: fit-content;
}

.readmore:hover {
    cursor: pointer;
}

/* section 3 */
#section-3 {
    background-color: #dcdcdc;
    display: flex;
    padding-left: 0px;
    flex-flow: column;
    align-content: center;
}

#section-3 h2 {
    margin: 0px 0px 32px 0px;
    text-align: center;
    width: 100%;
}

#section-3-grid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    column-gap: 32px;
    row-gap: 32px;
    margin-left: 72px;
    margin-right: 72px;
}

.tab-type-2 {
    background-color: #ffffff;
    display: flex;
    flex-flow: column;
}

.tab-type-2:hover {
    background-color: #474747;
}

.tab-type-2:hover h3 {
    color: #ffffff;
}

.tab-type-2:hover p {
    color: #ffffff;
}

#s3-t1 {
    grid-area: 1 / 1 / span 1 / span 1;
}

#s3-t2 {
    grid-area: 1 / 2 / span 1 / span 1;
}

#s3-t3 {
    grid-area: 1 / 3 / span 1 / span 1;
}

#s3-t4 {
    grid-area: 2 / 1 / span 1 / span 1;
}

#s3-t5 {
    grid-area: 2 / 2 / span 1 / span 1;
}

#s3-t6 {
    grid-area: 2 / 3 / span 1 / span 1;
}

.tab-type-2 figure {
    margin: 0px;
}

.tab-type-2 img {
    width: 100%;
    height: auto;
}

.tab-type-2-info {
    padding: 16px 16px 24px 16px;
}

.tab-type-2-info p {
    margin: 8px 0px 0px 0px;
}

/* section 4 */
#section-4 {
    background-color: #ffffff;
    display: flex;
    flex-flow: column;
    align-content: center;
}

#section-4 h2 {
    margin: 0px 0px 32px 0px;
    text-align: center;
}

#section-4-grid {
    display: grid;
    grid-template: 1fr / 60% 1fr;
    column-gap: 24px;
}

#section-4-left {
    grid-area: 1 / 1 / span 1 / span 1;
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-left: 24px;
}

#section-4-left video {
    width: 100%;
    margin: 0px 0px 24px 0px;
}

#section-4-right {
    grid-area: 1 / 2 / span 1 / span 1;
    /* display: grid; */
    /* grid-template: 1fr 1fr / 1fr; */
    display: flex;
    flex-flow: column;
    width: 100%;
}

/* #s4-t1 {
    grid-area: 1 / 1 / span 1 / span 1;
}

#s4-t2 {
    grid-area: 2 / 1 / span 1 / span 1;
} */

/* footer */
footer {
    padding: 16px 24px 50px 24px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

footer p {
    font-size: 12px;
}

footer ul {
    text-align: center;
}

footer li {
    font-family: Nunito, sans-serif;
    font-weight: lighter;
    color: #5c5c5c;
    font-size: 12px;
    line-height: 1.5;
    display: inline-block;
    margin: 0px 0px 0px 8px;
}

/* for mobile */
@media only screen and (max-width: 1200px) {
    /* header */
    /* TODO:
    - make desktop logo disappear
    - format header as ul with justify-content as space-evenly */
    header h1.desktop {
        display: none;
    }

    header .logo {
        display: none;
    }

    nav ul.desktop {
        display: none;
    }

    nav {
        display: flex;
        flex-flow: row;
        height: auto;
        width: 100%;
        margin: 0px auto 0px auto;
        justify-content: space-evenly;
    }

    nav a.mobile {
        display: block;
        margin: auto 0px;
    }

    nav img.mobile {
        display: block;
        width: auto;
        margin: 0px;
    }

    /* overall */
    .section-container {
        width: 100%;
        height: auto;
        padding: 0px;
        display: flex;
        flex-flow: column;
    }

    /* section 1 */
    #section-1 {
        background-color: #dcdcdc;
        display: flex;
        flex-flow: column;
    }
    
    #section-1 figure {
        /* grid-area: 1 / 1 / span 1 / span 1; */
        grid-area: unset;
        margin: 0px;
    }
    
    #section-1 figure img {
        width: 100%;
        height: auto;
    }
    
    #section-1-info {
        /* grid-area: 1 / 2 / span 1 / span 1; */
        grid-area: unset;
        width: auto;
        justify-content: start;
        padding: 0px;
        margin: 32px 16px;
    }
    
    #section-1-info h2 {
        width: 100%;
        color: #474747;
        font-size: 36px;
        line-height: 1.5;
        margin: 0px;
    }
    
    #section-1-info p {
        width: 100%;
        color: #474747;
        font-size: 20px;
        margin: 32px 0px 24px 0px;
    }
    
    #section-1-info button {
        padding: 8px 0px 8px 0px;
        display: block;
    }

    /* section 2 */
    #section-2 {
        display: flex;
        flex-flow: column;
    }

    #section-2-left {
        display: none;
    }

    #section-2-right .tab-type-1 {
        display: flex;
        flex-flow: column;
        padding-bottom: 64px;
    }

    #section-2-right .tab-type-1 figure.desktop {
        display: none;
    }

    #section-2-right .tab-type-1 figure.mobile {
        display: block;
    }

    #section-2-right .tab-type-1 .tab-type-1-info {
        padding-left: 16px;
        padding-right: 16px;
    }

    #section-2-right #s2-t3 {
        padding-bottom: 32px;
    }

    /* section 3 */
    #section-3 {
        padding-top: 32px;
        padding-bottom: 32px;
        background-color: #ffffff;
    }

    #section-3 h2 {
        margin-bottom: 16px;
    }

    #section-3-grid {
        margin-left: 16px;
        margin-right: 16px;
        display: flex;
        flex-flow: column;
        /* column-gap: 8px; */
        row-gap: 8px;
    }

    #section-3-grid .tab-type-2 figure {
        display: none;
    }

    .tab-type-2 {
        background-color: #dcdcdc;
    }

    .tab-type-2:hover {
        background-color: #474747;
    }

    .tab-type-2-info {
        padding: 16px 16px 24px 16px;
    }

    .tab-type-2-info h3 {
        font-size: 28px;
        font-weight: 500;
    }

    .tab-type-2-info p {
        display: none;
    }

}